name: Check generated docs and formatting

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: actions/checkout@v4.2.2

      - name: Generate docs
        run: |
          ./dev/generate-docs.sh > temp.json

      - name: Check that generated docs are the same
        run: diff temp.json docs/options.json
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: actions/checkout@v4.2.2

      - name: Check that all modules are formatted properly
        run: nix-shell -p "callPackage ./dev/nixfmt.nix {}" --command "nixfmt --check ./modules"
